@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

    <p> At MCBA, we are committed to protecting the privacy and security of our customers' personal and financial information. 
        We understand that you trust us with this information, and we take that trust very seriously. 
        This Privacy Policy outlines the types of information we collect, how we use and protect that information, and with whom we share it.</p>

    <h2>Information We Collect</h2>
    <p> We collect personal and financial information about our customers in order to provide our products and services. 
        This information may include:</p>
    <ul>
        <li>Personal identification information, such as your name, address, phone number, and email address</li>
        <li>Financial information, such as your income, credit history, and account balance</li>
        <li>Transaction information, such as the details of your account activity and the products and services you use</li>
    </ul>
    <p>We may also collect non-personal information, such as your browsing history or location information.</p>

    <h2>How We Use Your Information</h2>
    <p>We use the information we collect to provide our products and services to you, including:</p>
    <ul>
        <li>Opening and maintaining your accounts</li>
        <li>Processing transactions and payments</li>
        <li>Offering and providing you with financial products and services</li>
        <li>Detecting and preventing fraud</li>
        <li>Complying with legal and regulatory requirements</li>
    </ul>
    <p> We may also use your information for marketing and research purposes, such as to send you information about our products 
        and services and to understand how our customers use our services.</p>

    <h2>Sharing Your Information</h2>
    <p>We may share your information with third parties in order to provide our products and services to you, such as:</p>
    <ul>
        <li>Service providers who assist us in providing our products and services</li>
        <li>Financial institutions with whom we have joint marketing agreements</li>
        <li>Government agencies or other third parties as required by law or to protect against fraud</li>
    </ul>

    <h2>Protecting Your Information</h2>
    <p> We take the security of your information very seriously. 
        We have implemented physical, electronic, and procedural safeguards to protect your information from unauthorized access, use, or disclosure. 
        We also require our service providers to protect the confidentiality and security of your information.</p>
