@{
    ViewData["Title"] = "Admin Portal Homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the MCBA Admin Portal</h1>
    <p>Here you can perform admin realted tasks suck as customer management and billpay management</p>
</div>
